.row {
	display: flex;
	margin-bottom: 5px;
	&:nth-child(1) {
		margin-top: 5px;
	}

	> .cell {
		width: 20px;
		height: 20px;
		margin-left: 5px;
		border: 1px solid black;

		&.dead {
			background-color: white;
		}

		&.alive {
			background-color: rgb(33, 32, 109);
		}
	}
}
