<ons-row style="margin-left: 5px; margin-top: 10px">
    <ons-col width="250px"> Rows Number: <ons-input type="number" [(value)]="rowsLength" (valueChange)="initField()" min="5"></ons-input> </ons-col>
    <ons-col width="250px"> Cols Number: <ons-input type="number" [(value)]="colsLength" (valueChange)="initField()" min="5"></ons-input> </ons-col>
    <ons-col width="250px">
        Generation Time(ms):
        <ons-input type="number" step="100" [(value)]="timeDuration" (valueChange)="recreateAuto()" [disabled]="status === 'on'"></ons-input>
    </ons-col>
</ons-row>

<ons-row style="margin-top: 20px;margin-bottom: 20px;">
    <ons-col width="250px">
        <div style="margin-left: 5px; line-height: 35px">Generation: {{ generation }}</div>
    </ons-col>
    <ons-col width="250px">
        <div style="margin-left: 5px; line-height: 35px">Alived Cells: {{ alivedCell }} / {{ rowsLength * colsLength }}</div>
    </ons-col>
    <ons-col width="90px"><ons-button style="margin-left: 5px" (click)="initField()" ripple>Reset</ons-button></ons-col>
    <ons-col width="110px"><ons-button style="margin-left: 5px" (click)="randomField()" ripple>Random</ons-button></ons-col>

    <ons-col width="90px" *ngIf="status === 'off'">
        <ons-button style="margin-left: 5px" (click)="toggleState()" ripple> Start </ons-button>
    </ons-col>
    <ons-col width="90px" *ngIf="status === 'on'">
        <ons-button style="margin-left: 5px" (click)="toggleState()" ripple> Stop </ons-button>
    </ons-col>
</ons-row>

<div id="canvas-game-life" (mouseup)="onMouseUpCell()">
    <div class="row" *ngFor="let row of field; let i = index">
        <div
            class="cell"
            *ngFor="let cell of row; let j = index"
            [ngClass]="{
                dead: cell === 0,
                alive: cell === 1
            }"
            (mousedown)="onMouseDownCell(i, j)"
            (mousemove)="onMouseMoveCell(i, j)"
            (mouseup)="onMouseUpCell()"
        ></div>
    </div>
</div>
