<ons-page>
    <ons-toolbar>
        <div class="center">Life Game Simulation ({{ version }})</div>
    </ons-toolbar>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</ons-page>
